:root {
  --main-text-color: beige;
  --main-color: tomato;
}

header {
  background-color: midnightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  /* height: 50px; */
}
/* 로고 타이틀 */
.title {
  display: flex;
  align-items: center;
}
.title i {
  color: var(--main-color);
}
.title h1 {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}
/* 메뉴 네비게이션 */
.header_nav {
  display: flex;
  align-items: center;
}
.header_nav a {
  text-decoration: none;
  color: var(--main-text-color);
  padding: 0.5rem 0.5rem;
}
.header_nav a:hover {
  background-color: cornflowerblue;
  border-radius: 5px;
}
/* SNS 아이콘 */
.sns {
  display: flex;
  align-items: center;
}
.sns i {
  color: var(--main-text-color);
  padding: 0.5rem 0.5rem;
}
/* 메뉴 바 */
.menu-bar {
  display: none;
  color: var(--main-text-color);
  font-size: 1.3rem;
  position: absolute;
  /* top: 0; */
  right: 1rem;
}

/* Responsive */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header_nav {
    flex-direction: column;
    width: 100%;
    padding-top: 1rem;
  }
  .header_nav a {
    width: 100%;
    text-align: center;
  }
  .sns {
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
  }
  .menu-bar {
    display: inline-block;
  }
}
